body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Winky Sans", sans-serif;
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  background-color: #005248 !important;
}

.nav-link-custom {
  color: #f5f3cc !important; /* Initial color */
  font-weight: bold;
  transition: color 0.3s ease; /* Smooth transition effect */
}

.nav-link-custom:hover {
  color: #f0efe0 !important; /* Color when hovered */
}
